doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/user-details.css')
    script(type='text/javascript', src='/javascripts/vendor/angular.js')
    script(type='text/javascript', src='/javascripts/app/user-details.js')
    script(type='text/javascript', src='/javascripts/app/eventEmitterservice.js')
    script(type='text/javascript', src='/javascripts/app/userService.js')
  body
    block content
